body {
    text-align:center;
    padding: 10px;
    background: linear-gradient(to right, #5f5b61, #36215e);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header {
    text-align: center;
    padding: 30px;
    color: #BDA0CB;
    font-size: 50px;
}

.box-set {
    background: #eaeaed;
  }
  .box {
    border-radius: 6px;
    background: #BDA0CB;
    float: left;
    margin: 1.858736059%;
    width: 29.615861214%;
    box-shadow: 0 15px 20px #DB70DB;
  }
  